<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="channels" value="#rhwaftest" />
    <add key="server" value="irc.freenode.net" />
    <add key="port" value="6667" />
    <add key="nick" value="sharpie" />
    <add key="user" value="sharpie" />
    <add key="realname" value="Sharpie the C# bot" />
  </appSettings>
</configuration>